<small>
  {{ .Site.Copyright }} | {{ markdownify .Site.Params.madeWith }}
</small>
<div style="display: flex; justify-content: center; width: 100%; margin: 10px 0;">
<a href="https://www.toplist.cz/stat/1708413/" id="toplistcz1708413" title="TOPlist"><noscript><img src="https://toplist.cz/count.asp?id=1708413&logo=mc&njs=1" border="0"
alt="TOPlist" width="88" height="60"/></noscript><script language="JavaScript">
(function(d,e,s) {d.getElementById('toplistcz1708413').innerHTML='<img src="https://toplist.cz/count.asp?id=1708413&logo=mc&http='+
e(d.referrer)+'&t='+e(d.title)+'&l='+e(d.URL)+'&wi='+e(s.width)+'&he='+e(s.height)+'&cd='+
e(s.colorDepth)+'" width="88" height="60" border="0" alt="TOPlist" />';
}(document,encodeURIComponent,window.screen))
</script></a>
</div>